.header {
  padding-bottom: 3%;
  padding-top: 0px;
  background-color: black;
}

.title {
  font-size: 80px;
  margin-top: 0px;
  margin-bottom: 0%;
  margin-right: 45%;
  padding-top: 5%;
  background: linear-gradient(to right, #f17096 0%, #6d399c 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.intro {
  font-size: 30px;
  margin-top: 1%;
  margin-bottom: 5%;
  margin-right: 40%;
  background: linear-gradient(to right, #f17096 0%, #6d399c 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.listing {
  margin-top: 3%;
}
