.App {
  box-sizing: border-box;
  font-family: 'Open Sans';
  text-align: center;
  margin: 0px;
  padding: 0px;
}

.heading {
  padding-bottom: 5%;
  margin: 0px;
}

.title {
  font-size: 100px;
  margin-bottom: 0%;
  margin-right: 45%;
}

.intro {
  font-size: 30px;
  margin-top: 1%;
  margin-right: 25%;
  color: #48b1bf;
}
